.border {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--color-border);
	border: 3px solid;
	border-color: var(--color-border-border);
	color: #0000000;
	width: 100%;
	height: 100%;
	padding: 4px 4px 4px 4px; /* leave room for 64px buttons at top with 4px padding around */
}

.border-top-bar {
	flex-grow: 0;
	flex-shrink: 0;
	box-sizing: border-box;
	display: inline-flex;
	width: 100%;
	margin-bottom: 4px;
}

.border .tabs {
	display: inline-flex;
}

.border .tab {
	flex-grow: 1;
}

.button-back {
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	margin: 0px;
	padding: 4px;
}

.button-back:hover .icon {
	animation: none;
}

.tab {
	box-sizing: border-box;
	width: calc(100% - 4px);
	height: 100%;
	margin: 0 2px 0 2px;
	padding: 0;
	text-align: center;
}

.tabs {
	/* basic styling */
	width: 100%;
	height: 100%;

	/* flexbox setup */
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));

	padding: 0;
	margin: 0;

	overflow: auto;
}
