button, .button {
	box-sizing: border-box;
	border: 2px solid;
	background: var(--background-button);
	border-color: var(--color-button-border);
	color: var(--color-button-text);
	margin: 2px;
	padding: 4px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	width: calc(100% - 4px); /* full width minux margin */
	cursor: pointer;
	white-space: nowrap;
}

button.selected, .button.selected {
	background: var(--background-button-selected);
	border-color: var(--color-button-selected-border);
	color: var(--color-button-selected-text);
}

button.raw, .button.raw {
	background: var(--background-button-raw);
	border-color: var(--color-button-raw-border);
	color: var(--color-button-raw-text);
}

button:hover, .button:hover {
	background: var(--background-button-hover);
	border-color: var(--color-button-hover-border);
	color: var(--color-button-hover-text);
}

button:active, .button:active {
	background: var(--background-button-active);
	border-color: var(--color-button-active-border);
	color: var(--color-button-active-text);
}

button:disabled, .button:disabled {
	opacity: 0.5;
}

button:disabled *, .button:disabled * {
	opacity: 0.5;
}

.icon {
	box-sizing: border-box;
	height: 1em;
}

button:hover .icon, .button:hover .icon {
	animation: grow 1.5s infinite;
}

.button-bold {
	background: var(--background-button-bold)
}

@keyframes grow {
	from { transform: scale(1); transform-origin: center; }
	50% { transform: scale(1.25); transform-origin: center; }
	to { transform: scale(1); transform-origin: center; }
}

@-webkit-keyframes grow {
	from { transform: scale(1); transform-origin: center; }
	50% { transform: scale(1.25); transform-origin: center; }
	to { transform: scale(1); transform-origin: center; }
}

.button-item {
	padding: 4px;
}

.button-item .icon {
	width: 100%;
	height: auto;
}
