:root {
	--color-border: #777777;
	--color-background: #AAAAAA;
	--color-button: gray;
	--color-button-active: #774400;
	--color-button-hover: #FF9900;
	--color-button-raw: #DD4444;
	--color-button-selected: #44BB44;
};