.content {
	display: grid;
	grid-template-columns: 1fr;

	box-sizing: border-box;
	background-color: var(--color-background);
	margin: 0px;
	padding: 2px;

	overflow: auto;
	flex-grow: 1;
}

.hidden {
	display: none;
}