.content {
	display: grid;
	grid-template-columns: 1fr;

	box-sizing: border-box;
	background-color: var(--color-background);
	min-width: 100%;
	width: auto;
	height: 100%;
	margin: 0px;
	padding: 2px;
	font-size: 1em;

	overflow: auto;
}

.hidden {
	display: none;
}