.tree-node-button {
	display: inline-flex;
	align-items: center;
}

.flex-spacer {
	flex-grow: 1;
}

.tree-node-raw-toggle {
	box-sizing: content-box;
	float: right;
	width: 1em;
	height: 1em;
	margin: 0px;
}