.tree-node-button {
	display: inline-flex;
	align-items: center;
}

.tree-node-button > * {
	margin: 2px;
}

.tree-node-button:first-child {
	margin-left: 0px;
}

.tree-node-button:last-child {
	margin-left: 0px;
}

.flex-spacer {
	flex-grow: 1;
}

.tree-node-right-div {
	box-sizing: content-box;
	margin: 0px 0px 0px auto;
}

.tree-node-icon-button {
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	margin: 0px 0px 0px 0px;
}
